# Variables d'environnement (clés API, mots de passe)
.env

# Fichiers temporaires générés par Python
__pycache__/
*.pyc

# Archives
*.zip

# Données Kaggle volumineuses (trop lourdes pour GitHub et non pertinente pour le projet)
data/*.csv

# Fichiers système
.DS_Store
